/* You can add global styles to this file, and also import other style files */

:root {
    --netflix-color-primary: rgb(44, 2, 38);
    --netflix-color-secondary: rgb(116, 51, 89);
    --netflix-color-border: rgb(252, 217, 240);
}

body {
    background-color: rgb(238, 170, 235);
}