<netflix-modal
    *ngFor='let modal of modals'
    [attr.url]="'https://www.youtube.com/embed/' + modal.id + '?rel=0'"
    [attr.open]='modal.open'></netflix-modal>

<div class="container flex">
    <div class="logo">
        <netflix-logo></netflix-logo>
    </div>
    <div class="cta">
        <netflix-cta text="Who's watching?"></netflix-cta>
    </div>
    <div class="profiles">
        <netflix-profile-thumb
            *ngFor="let profile of profiles; let i = index"
            [attr.img]="'/assets/imgs/' + profile.img"
            [name]="profile.name"
            (click)='viewVideo(i)'></netflix-profile-thumb>
    </div>
    <div class="manage">
        <netflix-button>Manage profiles</netflix-button>
    </div>
</div>
