<catflix-modal
    *ngFor='let modal of modals'
    [attr.url]="'https://www.youtube.com/embed/' + modal.id + '?rel=0'"
    [attr.open]='modal.open'></catflix-modal>

<div class="container flex">
    <div class="logo">
        <catflix-logo></catflix-logo>
    </div>
    <div class="cta">
        <catflix-cta text="Who's watching?"></catflix-cta>
    </div>
    <div class="profiles">
        <catflix-profile-thumb
            *ngFor="let profile of profiles; let i = index"
            [attr.img]="'/assets/imgs/' + profile.img"
            [name]="profile.name"
            (click)='viewVideo(i)'></catflix-profile-thumb>
    </div>
    <div class="manage">
        <catflix-button>Manage profiles</catflix-button>
    </div>
</div>
